@import "tailwindcss";

:root {
  --background: #080808;
  --foreground: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Make interactive elements show pointer cursor */
button,
[role="button"],
a,
label,
summary,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}


html,
body {
  -ms-overflow-style: none; 
  scrollbar-width: none;   
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
